* {
	font-family: JetBrainsMono Nerd Font;
	background: transparent;
	color: #d8cab8;
}

window {
	/* width: 35%; */
	font-size: 14px;

	border: 2px solid #ca1773;
	border-radius: 4px;
	background-color: #171717;
}

#input {
	background-color: #171717;
	border-color: #ca1773;
	font-size: 12pt;
	padding: 10px;
	margin: 8px;
}

#input:focus {
	border: none;
	outline: none;
}


#scroll {
	padding: 8px 0;
}

#inner-box {
	padding: 0;
}

#entry {
	border-style: none;
	border-color: #ca1773;

	margin-left: 12px;
	margin-right: 12px;
}

#entry:selected {
	background: #222222;
	font-weight: bold;
	outline: none;
}


#img {
	margin-right: 6px;
	padding: 4px;
}
